.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  &.selected {
    align-items: center;
    @media (max-width: 575.98px) {
      border-bottom: none;
    }
  }
  @media (max-width: 575.98px) {
    border-bottom: 1px solid black;
    border-right: none;
    width: 100%;
    padding-bottom: 10px;
  }
  .location {
    font-size: 21px;
  }
  .date {
    display: block;
    font-size: 16px;
  }
  .mainInfo {
    display: flex;
    gap: 10px;
    align-items: center;
    &.selected {
      display: flex;
    }
    .temp {
      font-size: 25px;
      padding: 5px;
    }
    .clouds {
      height: 50px;
      width: 50px;
      & > img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
      }
    }
  }
  .subInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &.selected {
      flex-direction: row;
      gap: 20px;
    }
    .subInfo__item {
      display: flex;
      justify-content: flex-start;
      font-size: 17px;
      &.selected {
        @media (max-width: 575.98px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      }
      .item__name {
        display: block;
        width: 80px;
        &.selected {
          width: auto;
          margin-right: 5px;
        }
      }
      .item__value {
        display: block;
      }
      @media (max-width: 575.98px) {
        gap: 40px;
        justify-content: flex-start;
      }
    }
  }
}
