.container {
  min-height: 180px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .date {
    font-size: 20px;
    font-weight: 900;
  }
  .temp {
    font-size: 28px;
  }
  .clouds {
    font-size: 16px;
  }
  .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .detail {
      width: 33.333%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .detail__name {
        font-size: 16px;
        font-weight: 900;
      }
    }
  }
}
